- semantic_form_for @idea  do |idea|
  = idea.error_messages
  - idea.inputs do
    = idea.input :title, :input_html => {:class => 'required'}
    = idea.input :description, :input_html => {:class => 'required'}
  = idea.submit
