#user
  #edit
    - semantic_form_for @user do |user|
      - user.inputs do
        = user.input :email
        = user.input :first_name
        = user.input :last_name
      - user.buttons do
        = user.commit_button :button_html => { :value => "Update Profile" }
